@media screen and (min-width: 380px) {
    div {
      max-width: 380px;
    }
  }
  
  @media screen and (min-width: 768px) {
    div {
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    div {
      max-width: 1024px;
    }
  }
  
  body {
    background-color: #0d46c0;
    text-align: ce;
  }
  
  label {
    font-style: oblique;
    font-weight: bold;
    /* filter: grayscale(100%) invert(12%) sepia(100%) saturate(1000%)
      hue-rotate(10deg); */
  }
  
  button {
    margin-top: 10px;
    border-radius: 10%;
    border-color:#0d46c0;
  }
  
  h1 {
    text-align: center;
    color: #000000;
  }
  
  h2 {
    color: #000000;
    text-align: center;
  }
  
  div {
    margin: 0 auto;
  }
  
  .hope {
    text-align: center;
  }
  
  .resetButton {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgb(22, 120, 185);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input {
    max-width: 1000px;
  }